@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Lucida Sans Regular';
}

.body {
    display: grid;
    grid-template-columns: 100% auto;
    grid-template-rows: 50px 5rem 228rem 70px 50px;
    grid-template-areas:
        "aside"
        "header"
        "main"
        "pagination"
        "footer";
}

.header {
    grid-area: header;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
}

.header p {
    margin-top: 1rem;
    text-align: center;
}

.header select {
    width: 20rem;
    height: 2rem;
    margin-left: 20%;
}

.aside {
    grid-area: aside;
    background-color: #00579c;
}

.logo {
    display: flex;
    color: #ffffff;
    margin-left: 1rem;
    margin-top: 1rem;
}

.logo i {
    padding-right: 6px;
}

.nav {
    grid-area: nav;
    display: flex;
}

.nav ul {
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50px;
    left: -100%;
    transition: all .5s;
    background-color: #012f6b;

}

.nav ul li {
    text-align: center;
    line-height: 20px;
    padding: 10px;
}

.nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;

}

.checkbtn i {
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    text-align: center;
    filter: invert(100%);
}

#check:checked~ul {
    left: 0;
}

#check {
    display: none;
}

.main {
    grid-area: main;
    background-color: #ffffff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 450px);
    gap: 10px;
}

.item {
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    margin: 10px;
    box-shadow: 2px 2px 10px;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 25rem;
    height: 20rem;
}

.card a {
    text-decoration: none;
    background-color: #00579c;
    color: #ffffff;
    border: 1px solid #918e8e;
    padding: 10px;
    margin-top: 1rem;
}

.footer {
    grid-area: footer;
    background-color: #012f6b;
    color: #ffffff;
    text-align: center;
}

.pagination {
    grid-area: pagination;
    text-align: center;
    margin-top: 1rem;
}

.pagination a {
    color: #0454cc;
    padding: 10px;
    text-decoration: none;
    box-shadow: 0 0 10px #919090;

}

.pagination a.active {
    background-color: #dbdbdb;
    color: white;
}

.pagination a.prev,
.pagination a.next {
    font-weight: bold;
}

.pagination a:hover {
    background-color: #f2f2f2;
}


.footer i {
    padding-right: 5px;
    margin-top: 10px;
}

/*-------------------------------------------pc------------------------------------------------*/

@media (min-width:576px) {
    .body {
        grid-template-columns: 12rem auto;
        grid-template-rows: 5rem 29rem 7.05rem;
        grid-template-areas:
            /*grid area */
            "aside header header"
            "aside main  main "
            "footer main main";
    }

    .header select {
        width: 70rem;
        height: 2rem;
        margin-left: 2rem;
    }

    .logo {
        justify-content: center;
    }

    .nav ul {
        position: absolute;
        left: 0%;
        color: #ffffff;
        width: 12rem;
        height: auto;
        transition: none;
        background-color: #00579c;

    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* Crea 3 columnas de igual tamaño */
        grid-template-rows: repeat(2, 16rem);
        gap: 3px;
        /* Espacio entre las tarjetas */
    }

    .card {

        width: 13rem;
        height: 13rem;
        border: 1px solid #fcfcfc;
        text-align: center;
    }

    .card img {
        width: 9rem;
        height: 9rem;
    }

    .card a {
        text-decoration: none;
        background-color: #00579c;
        color: #ffffff;
        border: 1px solid #ffffff;
        padding: 10px;
    }

    .checkbtn {
        display: none;
    }

    .footer p {
        padding-top: 2rem;
    }
}