@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Lucida Sans Regular';
}
.body {
    display: grid;
    grid-template-columns: 100% auto;
    grid-template-rows: 50px 5rem 228rem 70px 50px;
    grid-template-areas:
        "aside"
        "header"
        "main"
        "pagination"
        "footer";
}
.header {
    grid-area: header;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
}
.header p{
    margin-top:1rem;
    text-align: center;
}

.header select {
    width: 20rem;
    height: 2rem;
  margin-left: 20%;
}
.aside {
    grid-area: aside;
    background-color: #00579c;
    display: block;
}
.logo{
    display:flex;
    color: #ffffff;
    margin-left: 1rem;
    margin-top: 1rem;
}
.logo i{
    padding-right:6px ; 
}

.nav {
    grid-area: nav;

}

.nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50px;
    left: -100%;
    transition: all .5s;
    background-color: #012f6b;

}

.nav ul li {
    text-align: center;
    line-height: 20px;
    padding: 10px;
}

.nav ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    
}