@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Lucida Sans Regular';
}
.body {
    display: grid;
    grid-template-columns: 100% auto;
    grid-template-rows: 50px 5rem 228rem 70px 50px;
    grid-template-areas:
        "aside"
        "header"
        "main"
        "pagination"
        "footer";
}
.header {
    grid-area: header;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
}
.header p{
    margin-top:1rem;
    text-align: center;
}

.header select {
    width: 20rem;
    height: 2rem;
  margin-left: 20%;
}